<div class="content_top">
  <div class="wrap">
    <h3>Latest Products</h3>
  </div>
  <div class="line"></div>
  <div class="wrap">
    <div class="ocarousel_slider">  
      <div class="ocarousel example_photos" data-ocarousel-perscroll="3">
        <div class="ocarousel_window">
          <% @carousel_products.each do |carousel_product| %>
            <%= link_to store_product_path(carousel_product.product_id) do %>
              <%= image_tag carousel_product.photo %>
              <p><%= carousel_product.description %></p>
            <% end %>
          <% end %>
        </div>
        <span>
          <a href="#" data-ocarousel-link="left" style="float: left;" class="prev"> </a>
          <a href="#" data-ocarousel-link="right" style="float: right;" class="next"> </a>
        </span>
      </div>
    </div>
  </div>
</div>