 <div class="footer">
  <div class="wrap">  
    <div class="copy_right">
      <p>Copy rights 2016&copy;. All rights Reseverd. Developed by <a href="https://github.com/geovo851">Georgy</a> &nbsp;| Template by  <a href="http://w3layouts.com" target="_blank">W3Layouts</a> </p>
    </div> 
    <div class="footer-nav">
      <ul>
        <li><%= link_to 'Terms of Use', store_terms_of_use_path %> : </li>
        <li><%= link_to 'Privacy Policy', store_privacy_policy_path %> : </li>
        <li><%= link_to 'Contact Us', store_contact_us_path %></li>
      </ul>
     </div>
  </div>
</div>
