<div class="product-articles">
  <h3>Browse All Categories</h3>
  <ul>
    <li>
  <div class="article">
    <p><span>Aenean vitae massa dolor</span></p>
    <p>Phasellus in quam dui. Nunc ornare, tellus rutrum porttitor imperdiet, dui leo molestie nisl, sit amet dignissim nibh magna pharetra quam. Nunc ultrices pellentesque massa, ac adipiscing dui rutrum id. In cursus augue non erat faucibus eu condimentum dolor molestie.</p>
    <p><a href="#">+ Read Full article</a></p>
  </div>
  </li>
  <li>
   <div class="article">
    <p><span>Phasellus sollicitudin consectetur</span></p>
    <p>Cras aliquam, odio ac consectetur tincidunt, eros nunc fermentum augue, quis rutrum ante lectus ac lectus. Fusce sed tellus orci, et feugiat urna. Integer et dictum leo. Nulla consectetur tempus orci sed consequat. Mauris cursus est a sapien venenatis faucibus. Etiam sagittis convallis volutpat.</p>
    <p><a href="#">+ Read Full article</a></p>
  </div>
  </li>
  </ul>
</div>