<div class="add-banner">
  <%= image_tag 'camera.png' %>
  <div class="banner-desc">
    <h4>Electronics</h4>
    <a href="#">More Info</a>
  </div>
  <div class="clear"></div>
</div>

<div class="add-banner add-banner2">
  <%= image_tag 'computer.png' %>
  <div class="banner-desc">
    <h4>Computers</h4>
    <a href="#">More Info</a>
  </div>
  <div class="clear"></div>
</div>